* {
  box-sizing: border-box;
}
.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.our-process {
  margin: 80px;
}
.promo {
  margin-top: 30px;
}
.promo-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 43px;
  color: #212121;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}
.promo-content {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  font-family: "Open Sans";
  font-weight: 400;
}
hr {
  align-self: center;
  width: 62px;
  size: 10px;
  z-index: 3;
}
.our-process-items {
  margin: 80px 140px;
}
.item-title {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}
.item-content {
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}
.item {
  float: left;
  width: calc(100% / 3);
}
.item-icon {
  display: block;
  margin: auto;
}
.pricing {
  background-color: #f5f5f5;
}
.pricing-slots {
  margin: 80px 140px;
  display: flex;
  justify-content: space-between;
}
.custom {
  border: 0.1px solid transparent;
  background-image: url(../img/custom.jpg);
  height: 300px;
  width: 100%;
}

.custom-title {
  font-size: 36px;
  color: #ffffff;
  font-family: "Raleway";
  z-index: 3;
  text-align: center;
}
.custom-content {
  font-size: 16px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 300;
  z-index: 3;
  text-align: center;
}
.custom-button {
  font-size: 15px;
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  z-index: 3;
  padding: 10px 15px;
}
.div-button {
  text-align: center;
}
